@import 'tailwindcss';
@import 'shadcn/tailwind.css';
@import 'tw-merge';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-alternate: var(--alternate);
  --color-teal-25: var(--teal-25);
  --color-alternate-button: var(--alternate-button);
  --color-badge: var(--badge);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-ceramic: var(--ceramic);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(
    --sidebar-primary-foreground
  );
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(
    --sidebar-accent-foreground
  );
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.9493 0.007 88.64);
  --foreground: oklch(0.145 0 0);
  --badge: oklch(0.2357 0.0402 194.77);
  --card: #003434;
  --teal-25: oklch(0.9569 0.014 185.95);
  --ceramin: oklch(0.6678 0.1141 194.02);
  --card-foreground: oklch(0.9493 0.007 88.64);
  --popover: oklch(0.650715 0.111076 194.7689);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: var(--color-teal-800);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.86 0.0237 93.36);
  --muted-foreground: oklch(0.8974 0.0084 91.49);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.9731 0.0041 91.45);
  --input: oklch(0.8974 0.0084 91.49);
  --ring: oklch(0.708 0 0);
  --alternate: oklch(0.2502 0.0478 225.89);
  --alternate-button: oklch(0.833 0.1164 222.63);
  --sidebar: oklch(0.4999 0.0853 194.77);
  --sidebar-foreground: oklch(0.9493 0.007 88.64);
  --sidebar-primary: oklch(0.5765 0.0984 194.77);
  --sidebar-primary-foreground: oklch(0.9493 0.007 88.64);
  --sidebar-accent: oklch(0.3968 0.1269 21.18);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: #001212;
  --foreground: oklch(0.985 0 0);
  --teal-25: oklch(0.9569 0.014 185.95);
  --badge: oklch(0.2357 0.0402 194.77);
  --card: oklch(0.325 0.0503 194.96);
  --ceramic: oklch(0.6678 0.1141 194.02);
  --alternate: oklch(0.2943 0.0502 194.77);
  --alternate-button: oklch(0.4999 0.0853 194.77);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.650715 0.111076 194.7689);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.5575 0.1564 43.75);
  --primary-hover: oklch(0.69218 0.158176 62.7916);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.4999 0.0853 194.77);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.2633 0.0417 194.92);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.3393 0.0496 187);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --sidebar: oklch(0.5279 0.071 195.22);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.5765 0.0984 194.77);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
